@charset "utf-8";


h5,header,footer,nav,menu,table{
    text-align: center;
}

body{
    background-color: #26da80df;
    background-size: 1550px 230px;
    color:black; 
    margin: 100px;
}
nav{
    background-color: #ffffff;
    
    
}
header{
    background-color: #ffffff;
}

h1{
    font-weight: 300;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    margin: 1px auto;
    padding: 30px;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    
    
    h2{
        padding:20px;
        margin-bottom: 1px;
        font-size: 50px;
        font-weight: 150;
        color: #ffffff
    
    
    }
    h5{
        padding:20px;
        margin-bottom: 1px;
        font-size: 50px;
        font-weight: 150;
        color: #000000
    }
   .menu2 a{
    text-decoration: none;
    display: block;
    padding: 50px;
    background: rgb(196, 234, 9);
    color: #0c0c0c;
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
   }

   .menu2 li{
    list-style-type: none;
    border:20px solid #3e20d19e;
    display: inline-block;
    width: 250px;
   }

    .menu a{
        text-decoration: none;
        display: block;
        padding: 15px;
        background: rgb(225, 1, 102);
        border-radius: 15px;
        color: #ffffff;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
    }


    .menu li{
        list-style-type: none;
        border:20px solid #0ed10700;
        display: inline-block;
        width: 250px;
        text-align: center;
        }
        .menu3 a{
            text-decoration: none;
            
           }
        
           .menu3 li{
            list-style-type: none;
            border:20px solid #08dc7db4;
            display: inline-block;
            width: 250px;
           }
section{
    text-align: center;
    background-color: rgb(71, 11, 182);
    color: #ffffff;

}
small{
    font-size: 5px;
}



     .icon{
        text-align: center;
        background-color: #ffffff;
     }
    
     table{
        margin-left:auto; 
        margin-right:auto;
        font-size: 20px;
        font-weight: 100;
        }
        th{
            font-weight: 200;
        }
        tr{
            font-weight: 100;
        }
        .imgR{
            text-align: center;
            margin-left: 20px;
        }